@media (max-width: 48rem) {
  .header-section {
    position: relative;
    padding: 0 44px;
  }
  .header-container {
    height: 67px;
    padding-top: 32px;
  }
  .hero-img {
    height: 296px;
    width: 514px;
    top: 420px;
  }
  .hero-container {
    padding: 56px 44px 144px;
  }
  .text-1 {
    font-size: 56px;
    line-height: 1.2em;
  }
  .text-2 {
    font-size: 2rem;
    line-height: 1.2em;
  }
  .text-3 {
    font-size: 1.5rem;
    line-height: 1.2em;
  }

  .text-4 {
    font-size: 14px;
    line-height: 1.8em;
  }
  .text-5 {
    font-size: 14px;
    line-height: 1.5em;
  }
  .features {
    background-color: #fcf8ff;
    justify-items: center;
    padding: 56px 44px 88px;
  }
  .feature-grid {
    flex-direction: column;
  }
  .number {
    margin-bottom: 0;
    height: 48px;
    width: 48px;
  }

  .feature-card {
    flex-direction: row;
    gap: 56px;
  }
  .feature-text,
  .feature-content h2 {
    text-align: left;
  }
  .test {
    padding: 112px 44px 0;
  }
  .founder-img {
    height: 280px;
    width: 280px;
  }
  .be-the-first {
    padding: 3rem;
  }
  .test-img {
    height: 137px;
    width: 173px;
    position: absolute;
    bottom: -60px;
    right: -20px;
  }
  .footer-section {
    padding: 80px;
  }
}

@media (max-width: 375px) {
  .text-1 {
    font-size: 32px;
    line-height: 1.2em;
  }
  .text-2 {
    font-size: 1.5rem;
    line-height: 1.2em;
  }
  .text-3 {
    font-size: 1rem;
    line-height: 1.2em;
  }

  .text-4 {
    font-size: 13px;
    line-height: 1.8em;
  }
  .text-5 {
    font-size: 16px;
    line-height: 1.5em;
  }
  .header-section {
    position: relative;
    padding: 0 22px;
  }
  .hero-container {
    padding: 56px 20px 144px;
    margin-bottom: 0px;
    height: 400px;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
  }
  .hero-img {
    height: 184px;
    width: 320px;
    top: 350px;
  }
  .bg-pattern-2,
  .bg-pattern-1 {
    display: none;
  }
  .features {
    background-color: #fcf8ff;
    justify-items: center;
    padding: 64px 20px 88px;
    margin-top: 64px;
  }
  .feature-grid {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .feature-card {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .feature-text,
  .feature-content h2 {
    text-align: center;
  }
  .test {
    justify-items: center;
    background-color: #ffffff;
    padding: 112px 20px 0;
  }
  .test-img {
    display: none;
  }
  .apply {
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .be-the-first {
    padding: 3rem;
    margin-top: -45px;
    margin-left: 0px;
    position: initial;
    justify-items: center;
  }
  .be-the-first h3,
  .test-text {
    text-align: center;
  }
}
